@media screen and (max-width:1100px){
    .section_text{
        width: 100%;
        max-width: 100%;
    }
    .response_card{
        width: 30%;
        padding: 15pt;
    }
    .response_card_header{
        justify-content:space-evenly;
    }
    .little_zagolovki{
        justify-content:space-around;
    
        flex-wrap:inherit;
    }
    li:nth-child(2n){
        background: wheat;
        border-radius: 4px;
    }
}
@media screen and (max-width:950px){
    .little_zagolovki{
        padding-left: 100px;
        padding-right: 100px;
        justify-content:center;
    
        flex-wrap:wrap;
    }
    .response_card{
        padding: 7pt;
        width: 25%;
    }
    li:nth-child(2n){
        background: wheat;
        border-radius: 4px;
    }
}
@media screen and (max-width:750px){
    .icons{
        width: 60px;
        height: 60px;
    }
    .photo{
        display: none;
    }
    .response_card{
        padding: 7pt;
        margin: 10px;
        width: 100%;
    }
}